@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins";
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Poppins-Regular.ttf')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/Poppins-Medium.ttf')
}

@font-face {
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 900;
    src: url('./assets/fonts/Poppins-Bold.ttf')
}
